<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>BLOG</title>
</head>
<body>
<div ng-controller="BlogController">
<form class="form-horizontal" method="post">
<fieldset>

<!-- Form Name -->
<legend>ADD BLOG</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">BLOG TITLE</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" placeholder="Enter Blog Title" class="form-control input-md" required="required" ng-model="blog.title">
    
  </div>
</div>

<!-- TextArea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="blogDescription">BLOG Description</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="blogDescription" name="blogDescription" ng-model="blog.content">Write your thoughts......</textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for=""></label>
  <div class="col-md-4">
    <button id="" name="" class="btn btn-success" ng-click="addBlog()">POST</button>
  </div>
</div>

</fieldset>
</form>
</div>
</body>
</html>