<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>BLOG</title>
<link rel="stylesheet" href="assessts/css/bootstrap.min.css">
</head>


<body ng-app="myApp">

<!-- HEADER -->
<header>

<div class="main-page">
    
   <!-- top-nav -->
   <div class="top-nav">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6"></div>
                <div class="col-md-6 col-sm-6"></div>
            </div>
        </div>   
   </div>
   
   <nav class="navbar navbar-inverse">
   <div class="navbar-header">
   <a class="navbar-brand" href="#">My Words</a>
   </div>
   <ul class="nav navbar-nav">
   <li><a href="#!/">Home</a></li>
   <li><a href="#">About Us</a></li>
   <li><a href="#!/contactUs">Contact Us</a></li>
   <li ng-hide="loggedIn==true"><a href="#!/login">Sign-In</a></li>
   <li ng-hide="loggedIn==true"><a href="#!/register">Register</a></li>
   <!-- BLOG -->
   <li ng-if="currentUser.role=='A'"><a href="#!/acceptBlog">AcceptBlog</a></li>
    <li class="nav-item dropdown" ng-if="loggedIn==true">
    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Blog</a>
    <div class="dropdown-menu">
    <a class="dropdown-item" href="#!/addBlog">Post Blog</a><br>
    <a class="dropdown-item" href="#!/approvedBlogs">My Approved Blogs</a><br>
    <a class="dropdown-item" href="#!/blogs">Blogs</a>
    </div>
    </li>
    
     <li class="nav-item dropdown" ng-if="loggedIn==true"><a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown">Job</a>
     <ul class="dropdown-menu">
     <li><a href="#!/addJob" ng-show="currentUser.role=='A'">Add Job</a></li>
     <li><a href="#!/activeJobs">Show Jobs</a></li>
     <li><a href="#!/inactiveJobs" ng-show="currentUser.role=='A'">Inactive Jobs</a></li>
     </ul>
     </li>
     
     <li class="nav-item dropdown" ng-if="loggedIn==true"><a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown">Friends</a>
     <ul class="dropdown-menu">
      <li><a href="#!/suggestedUsers">Suggested Users</a></li>
      <li><a href="#!/friendRequests">Friend Requests</a></li>
      <li><a href="#!/friendsList">Friends</a></li>
     </ul>
     </li>
     
     <li><a href="#!/chatRoom" ng-if="loggedIn==true">Chat Room</a></li>

     
   </ul>
  <!--  <div class="input-group">
                            <input type="text" class="form-control" name="x" placeholder="Search term..." required="required">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">search</button>
                            </span>
                        </div> -->
   </nav>   
   <!-- main-banner -->
    <div class="main-banner">
        <div class="container">
            <img src="http://placehold.it/1200x300" class="img-responsive">
        </div>
    </div>
    

<!-- ANGULAR -->
	
	<div ng-view></div> 
	
    <!-- post-widgets -->
    <div class="post-widgets">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    
                   
                    
                    
                    <div class="page">
                        <h3>There are many variations of passages of Lorem Ipsum</h3>
                        <div class="details">
                            <ul>
                                <li>Admin</li>
                                <li>April 18, 2017</li>
                                <li>Webdesign</li>
                            </ul>
                        </div>
                        <div class="content">
                             <p>It is a long established fact that a reader will be distracted by
                                the readable content of a page when looking at its layout. The point
                                of using Lorem Ipsum is that it has a more-or-less normal distribution </p>
                        </div>
                        <h4><a href="read-more">Read More</a></h4>
                    </div>
                    <div class="page">
                        <h3>There are many variations of passages of Lorem Ipsum</h3>
                        <div class="details">
                            <ul>
                                <li>Administrator</li>
                                <li>April 18, 2017</li>
                                <li>WebDesign</li>
                            </ul>
                        </div>
                        <div class="content">
                             <p>It is a long established fact that a reader will be distracted by
                                the readable content of a page when looking at its layout. The point
                                of using Lorem Ipsum is that it has a more-or-less normal distribution </p>
                        </div>
                        <h4><a href="read-more">Read More</a></h4>
                    </div>
                    
                    
                </div>
                <div class="col-md-4">
                    
                    <div class="widgets">
                        <h3>Recent Posts</h3>
                        <ul>
                            <li><h4><a href="#">There are many variations of passages of Lorem Ipsum</a></h4></li>
                            <li><h4><a href="#">There are many variations of passages of Lorem Ipsum</a></h4></li>
                            <li><h4><a href="#">There are many variations of passages of Lorem Ipsum</a></h4></li>
                           
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div><!-- main-page -->
 
</header>
<script src="assessts/js/jquery.js"></script>
<script src="assessts/js/bootstrap.min.js"></script>

<script src="assessts/angular/angular.min.js"></script>
<script src="assessts/angular/angular-route.js"></script>
<script src="assessts/angular/indexScript.js"></script>
<script src="assessts/angular/userScript.js"></script>
<script type="text/javascript" src="assessts/services/blogService.js"></script>
<script type="text/javascript" src="assessts/angular/addComment.js"></script>
<script type="text/javascript" src="assessts/angular/blogLikes.js"></script>
<script type="text/javascript" src="assessts/angular/blog2.js"></script>
<script src="assessts/angular/addBlog.js"></script>
<script src="assessts/angular/addJob.js"></script>
<script src="assessts/angular/validateUser.js"></script>
<script src="assessts/angular/friend.js"></script>
<script src="assessts/angular/friendList.js"></script>
<script src="assessts/angular/friendRequest.js"></script>
<script src="assessts/angular/chatCtrl.js"></script>
<script type="text/javascript" src="assessts/services/chatService.js"></script>
<script src="assessts/js/lodash.js"></script>
<script src="assessts/js/sockjs.js"></script>
<script src="assessts/js/stomp.js"></script>
</body>
</html>