<div ng-controller="JobController">
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>ADD JOB</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Job Designation</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="required" ng-model="job.jobDesignation"> 
  </div>
</div>

<!-- TextArea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="description">Job Description</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="description" name="description" required="required" ng-model="job.jobDescription"></textarea>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="">Company</label>  
  <div class="col-md-4">
  <input id="" name="" type="text" placeholder="" class="form-control input-md" required="required" ng-model="job.company">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="">Location</label>  
  <div class="col-md-4">
  <input id="" name="" type="text" placeholder="" class="form-control input-md" required="required" ng-model="job.location">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="">Salary</label>  
  <div class="col-md-4">
  <input id="" name="" type="text" placeholder="" class="form-control input-md" required="required" ng-model="job.salary"> 
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="">Apply By Date</label>  
  <div class="col-md-4">
  <input id="" name="" type="date" placeholder="" class="form-control input-md" required="required" ng-model="job.applyLastDate"> 
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for=""></label>
  <div class="col-md-4">
    <button id="" name="" class="btn btn-primary" ng-click="addJob()">Add Job</button>
  </div>
</div>

</fieldset>
</form>
</div>