<link rel="stylesheet" href="assessts/css/glyphiconColor.css">
<!-- <div ng-controller="BlogController">
{{thisBlog.blogId}}
<b ng-bind="thisBlog.blogId"></b>
<b>{{thisBlog.title}}</b><br>
<b>{{thisBlog.content}}</b><br>
<b>{{thisBlog.postedBy}}</b><br>
<a ng-click="updateLikes()/{blogId}"><span class="glyphicon glyphicon-thumbs-up" ng-class="isLiked?'liked':'default'"></span></a>
{{thisBlog.likes}}
</div> -->


<div class="container"   ng-controller="BlogController">
{{ob.content}}
	<div class="panel panel-info">
		<div class="panel-heading">
			<p ng-bind-html="title">
			{{ob.blogId}}
			</p><br> <b>Author :
				{{ob.postedBy}}</b><br>
			<b>Posted On: {{ob.postedOn | date:'medium'}}</b>
		</div>
		<div class="panel-body">
		    <p ng-bind-html="content">{{ob.content}}</p><!-- content is blogPost.blogContent as HTML -->
		</div>
	</div>

</div>

<button ng-click="blogLikes(ob.blogId)">Show Likes</button>

<!--  $scope.isLiked = true, glyphicon in blue -->
<!-- $scope.isLiked=false, glyphicono in black -->
<div>
<div ng-show="isLiked"><!-- result of the query select * from blogpostlikes where post_id=? and u_email=? -->
<a><span class="glyphicon glyphicon-thumbs-up" style="color:blue" ng-click="updateLikes(ob.blogId)"></span></a>
<!-- delete data from blogpostlikes and decrement the number of likes -->
</div>
<div ng-show="!isLiked">
<a><span class="glyphicon glyphicon-thumbs-up" style="color:black" ng-click="updateLikes(ob.blogId)"></span></a>
<!--  insert data into blogpostlikes and increment the number of likes -->
</div>
{{ob.likes}} likes

<button ng-controller="CommentController" ng-click="demo()">DEMO</button>

<form method="post">
<div>
<h4>Add a Comment...</h4>
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Comment</label>  
  <div class="col-md-5">
  {{ob.blogId}}
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" ng-model="blogComment.commentText">
  
  <div class="form-group">
  <label class="col-md-4 control-label" for=""></label>
  <div class="col-md-4">
    <button  class="btn btn-success" ng-click="addBlogComment(ob.blogId)">POST</button>
  </div>
</div>
    
  </div>
</div>
</div>
</form>
</div>